<h1>{{title}}</h1>
<form method="POST" action="/new">
  <input type="text" name='user' placeholder="Username"></input>
  <input type="text" name='text' placeholder="Message"></input>
  <button>Submit</button>
</form>
